fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
pgvector
PyJWT
python-dotenv
langchain
langchain-text-splitters
langchain-postgres
langgraph
pdfplumber
python-docx
pydantic-settings
langchain-openai
python-multipart
